.add-glyph {
    font-size: 30px;
    margin: 5px;
}

.add-text {
    font-size: 20px;
}

.add-header {
    margin: 15px 15px 25px 15px;
}

#add-replica {
    cursor: pointer;
}

.replicas-table-container {
    margin: 20px;
}

.remove-replica {
    cursor: pointer;
}

.stopped {
    color: red;
    font-weight: bold;
}

.running {
    color: green;
    font-weight: bold;
}